#person .image {
    padding: 0 15px;
}

#person .image + div {
    display: flex;
    vertical-align: center;
    flex-direction: column;
    justify-content: center;
}

#person .friends h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#person .friends{
    margin-bottom: 54px;
    padding-bottom: 24px;
    position: relative;
}

#person .friends:after{
    content: ' ';
    position: absolute;
    width: calc(100% - 36px);
    left: 18px;
    height: 1px;
    background-color: var(--default-border-color);
    bottom: 0;
}
